body{
    background: #0b0c11;
    color: #6495ed;
}

a.link-item{
    background-color: #15161b;
    list-style-type: none;
    padding: 17px 15px;
    display: block;
    text-align: left;
    border: transparent;
    color: #98999e;
    text-transform: none;  
}

h5{
    font-weight: 600;
    font-size: 16px;
}
a.list-group-item:hover{
    background-color: #1f2b37;
    color: #edeef2;
}
.fa {
    font-size: 16px;
    margin-left: 5px;
    margin-right: 10px;
}

.alert-danger{
    color: #777;
    background-color: #181d23;
    border-color: transparent;
}